.pageRegister .con {
    margin-top: 80px;
    min-height: 720px;
}

.copyrights {
    margin-top: 18px;
}

@media (max-width: 991px) {
    .pageRegister .con {
        margin-top: 0;
    }
    .header-main {
        display: none;
    }
}

input {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}