<div class="pageRegister">
  <header-main></header-main>
  <div class="con">
    <h1>请填写您的信息</h1>
    <div class="form-horizontal reform" [formGroup]="form">
      <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 control-label">
          <i>*</i>邮箱</label>
        <div class="col-md-10">
          <input type="email" class="form-control ipt" formControlName="email" placeholder="输入邮箱">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 control-label">
          <i>*</i>密码</label>
        <div class="col-md-10">
          <input type="password" class="form-control ipt" formControlName="password" placeholder="输入登录密码">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-md-1 control-label">
          <i>*</i>再次确认密码</label>
        <div class="col-md-10">
          <input type="password" class="form-control ipt" formControlName="password2" placeholder="再次确认密码">
        </div>
      </div>
      <div class="form-group sure" style="margin-bottom: 30px;">
        <button type="button" class="btn btn-info rebtn" (click)="post()">提交信息</button>
      </div>
    </div>
    <a [routerLink]="'/web/site/entry/'+module+'/login'" class="loginBack">返回登录</a>
  </div>
  <copyrights></copyrights>
</div>