<div class="recruit driverTop">
  <!-- <div class="recruit-banner" style="position: relative;overflow:hidden; ">
    <img we7-src="assets/images/run-banner.png" style="width:1902px!important;" height="600" alt="run-banner">
    <div class="level_1">
      <ul class="level_ul">
        <li>
          <div>
            <img we7-src="assets/images/driver-top1.png" style="width:582px;">
          </div>
          <div class="level_ul1">
            <p class="level_bold" id="six">700000</p>
          </div>
          <div class="in-animation">
            <img we7-src="assets/images/driver-top2.png" style="width:591px">
          </div>
        </li>
      </ul>
    </div>
  </div> -->
  <div class="zhao_item zhao_item1">
    <ul class="zhao_ul">
      <li class="od">
        <div class="img_zhao_1 img_zhao"></div>
        <p class="zhao_bold">资深跑男</p>
        <ul class="run-ul-list" style="width:160px;">
          <li>• 订单终结者，有单必抢</li>
          <li>• 日均跑腿时长10-12小时</li>
          <li>• 服务超好，配送超快</li>
          <li>• 轻松月入10000+</li>
        </ul>
      </li>

      <li class="od run-top-ml">
        <div class="img_zhao_2 img_zhao"></div>
        <p class="zhao_bold">精英跑男</p>
        <ul class="run-ul-list" style="width:143px;">
          <li>• 手机在手，订单我有</li>
          <li>• 日均跑腿时长6-8小时</li>
          <li>• 服务一流，快速到达</li>
          <li>• 月入6000+</li>
        </ul>
      </li>

      <li class="od run-top-ml">
        <div class="img_zhao_3 img_zhao"></div>
        <p class="zhao_bold">入门跑男</p>
        <ul class="run-ul-list" style="width:162px;">
          <li>• 订单想接就接，轻松自由</li>
          <li>• 日均跑腿时长3-5小时</li>
          <li>• 5星服务，准时到达</li>
          <li>• 月入4000+</li>
        </ul>
      </li>
    </ul>
  </div>
</div>