<div class="page-container">
  <div class="left-content">
    <div class="mother-grid-inner">
      <!--header start here-->
      <header-main></header-main>
      <div class="inner-block">
        <div class="main-page-mysoft">
          <div class="main-page-box">
            <div class="main-page-body">
              <div class="tab-pane in active">
                <p class="Ktitle">{{docs.title}}</p>
                <div class="method">
                  <p>http请求地址：{{we7.getMobileUrl('open',{open: docs.code})}}</p>
                  <p>http请求方式：POST </p>
                </div>
                <div class="description">
                  <p class="bp">调用说明</p>
                  <p class="method">{{docs.tip}}</p>
                </div>
                <p class="Kh5">调用参数说明</p>
                <table class="Ktable">
                  <tbody>
                    <tr>
                      <th>参数名</th>
                      <th>类型</th>
                      <th>是否必须</th>
                      <th>描述</th>
                    </tr>
                    <tr *ngFor="let item of docs.params">
                      <td>{{item.name}}</td>
                      <td>{{item.type}}</td>
                      <td>
                        <span *ngIf="item.need">是</span>
                        <span *ngIf="!item.need">否</span>
                      </td>
                      <td>{{item.desc}}</td>
                    </tr>
                  </tbody>
                </table>
                <p class="Kh5">返回说明</p>
                <p class="method">正常情况下，会返回下述数据包(注：参数以json方式)</p>
                <p class="Kcon"></p>
                <p class="Kh5">返回参数说明</p>
                <table class="Ktable">
                  <tbody>
                    <tr>
                      <th>参数名</th>
                      <th>描述</th>
                    </tr>
                    <tr *ngFor="let item of docs.return">
                      <td>{{item.name}}</td>
                      <td>{{item.desc}} </td>
                    </tr>
                  </tbody>
                </table>
                <p class="method">错误时返回的json数据包</p>
                <p class="Kcon"></p>
                <a title="错误码说明" routerLink="'/web/site/entry/'+module+'/errorcode'">错误码说明</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <copyrights></copyrights>
    </div>
  </div>
  <sidebar-menu></sidebar-menu>
  <div class="clearfix"> </div>
</div>