<div id="cityLists" class="city-lists" style="display: none;">
  <div class="citywrap">
    <div class="city city_list">
      <div class="check_city" id="check_city">
        <div class="high">
          <div class="letter">A</div>
          <div class="city_list">
            <ul>
              <li data-id="5" data-name="阿勒泰地区" data-rule="1">阿勒泰地区</li>
              <li data-id="8" data-name="安康市" data-rule="1">安康市</li>
              <li data-id="11" data-name="安阳市" data-rule="2">安阳市</li>
              <li data-id="12" data-name="鞍山市" data-rule="1">鞍山市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">B</div>
          <div class="city_list">
            <ul>
              <li data-id="15" data-name="巴中市" data-rule="1">巴中市</li>
              <li data-id="21" data-name="蚌埠市" data-rule="1">蚌埠市</li>
              <li data-id="23" data-name="宝鸡市" data-rule="2">宝鸡市</li>
              <li data-id="27" data-name="北海市" data-rule="1">北海市</li>
              <li data-id="28" data-name="北京市" data-rule="1">北京市</li>
              <li data-id="29" data-name="本溪市" data-rule="1">本溪市</li>
              <li data-id="31" data-name="滨州市" data-rule="1">滨州市</li>
              <li data-id="32" data-name="亳州市" data-rule="1">亳州市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">C</div>
          <div class="city_list">
            <ul>
              <li data-id="36" data-name="昌吉回族自治州" data-rule="2">昌吉回族自治州</li>
              <li data-id="39" data-name="长沙市" data-rule="1">长沙市</li>
              <li data-id="40" data-name="长治市" data-rule="1">长治市</li>
              <li data-id="41" data-name="常德市" data-rule="1">常德市</li>
              <li data-id="42" data-name="常州市" data-rule="1">常州市</li>
              <li data-id="44" data-name="朝阳市" data-rule="1">朝阳市</li>
              <li data-id="46" data-name="郴州市" data-rule="1">郴州市</li>
              <li data-id="47" data-name="成都市" data-rule="1">成都市</li>
              <li data-id="51" data-name="赤峰市" data-rule="1">赤峰市</li>
              <li data-id="53" data-name="滁州市" data-rule="1">滁州市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">D</div>
          <div class="city_list">
            <ul>
              <li data-id="57" data-name="大连市" data-rule="2">大连市</li>
              <li data-id="58" data-name="大庆市" data-rule="2">大庆市</li>
              <li data-id="59" data-name="大同市" data-rule="1">大同市</li>
              <li data-id="70" data-name="东莞市" data-rule="1">东莞市</li>
              <li data-id="71" data-name="东营市" data-rule="2">东营市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">E</div>
          <div class="city_list">
            <ul>
              <li data-id="72" data-name="鄂尔多斯市" data-rule="1">鄂尔多斯市</li>
              <li data-id="74" data-name="恩施土家族苗族自治州" data-rule="2">恩施土家族苗族自治州</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">F</div>
          <div class="city_list">
            <ul>
              <li data-id="76" data-name="佛山市" data-rule="1">佛山市</li>
              <li data-id="82" data-name="阜阳市" data-rule="1">阜阳市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">G</div>
          <div class="city_list">
            <ul>
              <li data-id="93" data-name="贵阳市" data-rule="1">贵阳市</li>
              <li data-id="94" data-name="桂林市" data-rule="2">桂林市</li>
              <li data-id="391" data-name="固始县" data-rule="1">固始县</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">H</div>
          <div class="city_list">
            <ul>
              <li data-id="103" data-name="邯郸市" data-rule="1">邯郸市</li>
              <li data-id="104" data-name="汉中市" data-rule="1">汉中市</li>
              <li data-id="105" data-name="杭州市" data-rule="1">杭州市</li>
              <li data-id="106" data-name="合肥市" data-rule="3">合肥市</li>
              <li data-id="110" data-name="菏泽市" data-rule="1">菏泽市</li>
              <li data-id="116" data-name="衡阳市" data-rule="1">衡阳市</li>
              <li data-id="118" data-name="呼和浩特市" data-rule="1">呼和浩特市</li>
              <li data-id="123" data-name="怀化市" data-rule="1">怀化市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">J</div>
          <div class="city_list">
            <ul>
              <li data-id="137" data-name="济宁市" data-rule="1">济宁市</li>
              <li data-id="138" data-name="济源市" data-rule="1">济源市</li>
              <li data-id="144" data-name="江门市" data-rule="1">江门市</li>
              <li data-id="145" data-name="焦作市" data-rule="1">焦作市</li>
              <li data-id="146" data-name="揭阳市" data-rule="1">揭阳市</li>
              <li data-id="148" data-name="金华市" data-rule="1">金华市</li>
              <li data-id="150" data-name="晋城市" data-rule="1">晋城市</li>
              <li data-id="156" data-name="酒泉市" data-rule="1">酒泉市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">K</div>
          <div class="city_list">
            <ul>
              <li data-id="158" data-name="开封市" data-rule="1">开封市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">L</div>
          <div class="city_list">
            <ul>
              <li data-id="167" data-name="廊坊市" data-rule="2">廊坊市</li>
              <li data-id="169" data-name="乐山市" data-rule="1">乐山市</li>
              <li data-id="176" data-name="聊城市" data-rule="1">聊城市</li>
              <li data-id="182" data-name="临沂市" data-rule="1">临沂市</li>
              <li data-id="189" data-name="娄底市" data-rule="1">娄底市</li>
              <li data-id="190" data-name="泸州市" data-rule="1">泸州市</li>
              <li data-id="192" data-name="洛阳市" data-rule="1">洛阳市</li>
              <li data-id="394" data-name="漯河市" data-rule="2">漯河市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">M</div>
          <div class="city_list">
            <ul>
              <li data-id="195" data-name="茂名市" data-rule="1">茂名市</li>
              <li data-id="199" data-name="绵阳市" data-rule="1">绵阳市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">N</div>
          <div class="city_list">
            <ul>
              <li data-id="206" data-name="南京市" data-rule="1">南京市</li>
              <li data-id="211" data-name="南阳市" data-rule="1">南阳市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">P</div>
          <div class="city_list">
            <ul>
              <li data-id="218" data-name="平顶山市" data-rule="2">平顶山市</li>
              <li data-id="221" data-name="萍乡市" data-rule="2">萍乡市</li>
              <li data-id="222" data-name="莆田市" data-rule="1">莆田市</li>
              <li data-id="223" data-name="濮阳市" data-rule="1">濮阳市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">Q</div>
          <div class="city_list">
            <ul>
              <li data-id="232" data-name="青岛市" data-rule="1">青岛市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">S</div>
          <div class="city_list">
            <ul>
              <li data-id="242" data-name="三门峡市" data-rule="2">三门峡市</li>
              <li data-id="249" data-name="商丘市" data-rule="2">商丘市</li>
              <li data-id="253" data-name="邵阳市" data-rule="1">邵阳市</li>
              <li data-id="255" data-name="深圳市" data-rule="2">深圳市</li>
              <li data-id="259" data-name="石河子市" data-rule="2">石河子市</li>
              <li data-id="268" data-name="宿迁市" data-rule="1">宿迁市</li>
              <li data-id="396" data-name="三沙市" data-rule="1">三沙市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">T</div>
          <div class="city_list">
            <ul>
              <li data-id="273" data-name="塔城地区" data-rule="1">塔城地区</li>
              <li data-id="285" data-name="唐山市" data-rule="2">唐山市</li>
              <li data-id="289" data-name="天水市" data-rule="1">天水市</li>
              <li data-id="295" data-name="铜仁市" data-rule="1">铜仁市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">W</div>
          <div class="city_list">
            <ul>
              <li data-id="301" data-name="潍坊市" data-rule="1">潍坊市</li>
              <li data-id="302" data-name="渭南市" data-rule="2">渭南市</li>
              <li data-id="303" data-name="温州市" data-rule="1">温州市</li>
              <li data-id="305" data-name="文山壮族苗族自治州" data-rule="2">文山壮族苗族自治州</li>
              <li data-id="308" data-name="乌鲁木齐市" data-rule="2">乌鲁木齐市</li>
              <li data-id="311" data-name="吴忠市" data-rule="1">吴忠市</li>
              <li data-id="312" data-name="芜湖市" data-rule="1">芜湖市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">X</div>
          <div class="city_list">
            <ul>
              <li data-id="318" data-name="西安市" data-rule="1">西安市</li>
              <li data-id="319" data-name="西宁市" data-rule="1">西宁市</li>
              <li data-id="322" data-name="厦门市" data-rule="1">厦门市</li>
              <li data-id="324" data-name="咸宁市" data-rule="1">咸宁市</li>
              <li data-id="325" data-name="咸阳市" data-rule="1">咸阳市</li>
              <li data-id="327" data-name="湘潭市" data-rule="1">湘潭市</li>
              <li data-id="329" data-name="襄阳市" data-rule="1">襄阳市</li>
              <li data-id="332" data-name="新乡市" data-rule="1">新乡市</li>
              <li data-id="336" data-name="信阳市" data-rule="1">信阳市</li>
              <li data-id="338" data-name="邢台市" data-rule="1">邢台市</li>
              <li data-id="340" data-name="许昌市" data-rule="1">许昌市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">Y</div>
          <div class="city_list">
            <ul>
              <li data-id="343" data-name="烟台市" data-rule="1">烟台市</li>
              <li data-id="344" data-name="延安市" data-rule="2">延安市</li>
              <li data-id="357" data-name="银川市" data-rule="1">银川市</li>
              <li data-id="359" data-name="营口市" data-rule="2">营口市</li>
              <li data-id="360" data-name="永州市" data-rule="2">永州市</li>
              <li data-id="361" data-name="榆林市" data-rule="2">榆林市</li>
              <li data-id="362" data-name="玉林市" data-rule="1">玉林市</li>
              <li data-id="365" data-name="岳阳市" data-rule="1">岳阳市</li>
              <li data-id="368" data-name="运城市" data-rule="1">运城市</li>
            </ul>
          </div>
        </div>
        <div class="high">
          <div class="letter">Z</div>
          <div class="city_list">
            <ul>
              <li data-id="370" data-name="湛江市" data-rule="2">湛江市</li>
              <li data-id="373" data-name="张掖市" data-rule="1">张掖市</li>
              <li data-id="374" data-name="彰化县" data-rule="1">彰化县</li>
              <li data-id="379" data-name="郑州市" data-rule="1">郑州市</li>
              <li data-id="380" data-name="中山市" data-rule="1">中山市</li>
              <li data-id="381" data-name="中卫市" data-rule="1">中卫市</li>
              <li data-id="384" data-name="周口市" data-rule="1">周口市</li>
              <li data-id="385" data-name="株洲市" data-rule="1">株洲市</li>
              <li data-id="387" data-name="驻马店市" data-rule="1">驻马店市</li>
              <li data-id="389" data-name="淄博市" data-rule="1">淄博市</li>
              <li data-id="390" data-name="自贡市" data-rule="1">自贡市</li>
              <li data-id="395" data-name="遵义市" data-rule="1">遵义市</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="city_right">
    <div class="city_right_cityname">
      <i class="iconCurCity"></i>
      <span class="cityname"></span>
    </div>
    <div class="city_right_list">
      <label>已开通城市:</label>
      <div class="letterbox">
        <div class="letter_middle left_zm">
          <a href="javascript:;">
            <span>A</span>
          </a>
          <a href="javascript:;">
            <span>B</span>
          </a>
          <a href="javascript:;">
            <span>C</span>
          </a>
          <a href="javascript:;">
            <span>D</span>
          </a>
          <a href="javascript:;">
            <span>E</span>
          </a>
          <a href="javascript:;">
            <span>F</span>
          </a>
          <a href="javascript:;">
            <span>G</span>
          </a>
          <a href="javascript:;">
            <span>H</span>
          </a>
          <a href="javascript:;">
            <span>J</span>
          </a>
          <a href="javascript:;">
            <span>K</span>
          </a>
          <a href="javascript:;">
            <span>L</span>
          </a>
          <a href="javascript:;">
            <span>M</span>
          </a>
          <a href="javascript:;">
            <span>N</span>
          </a>
          <a href="javascript:;">
            <span>P</span>
          </a>
          <a href="javascript:;">
            <span>Q</span>
          </a>
          <a href="javascript:;">
            <span>S</span>
          </a>
          <a href="javascript:;">
            <span>T</span>
          </a>
          <a href="javascript:;">
            <span>W</span>
          </a>
          <a href="javascript:;">
            <span>X</span>
          </a>
          <a href="javascript:;">
            <span>Y</span>
          </a>
          <a href="javascript:;">
            <span>Z</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="city_mask"></div>
</div>