<div class="page-container">
  <div class="left-content">
    <div class="mother-grid-inner">
      <header-main></header-main>
      <div class="inner-block">
        <div class="main-page-myprofit">
          <div class="main-page-box">
            <div class="main-page-body">
              <div class="form-group">
                <h2 class="title">欢迎使用跑腿开放平台</h2>
                <p>
                  小明跑腿模块部分业务逻辑开源，跑腿模块可在微擎商城购买。
                </p>
                <p>
                  跑腿开放平台，为方便其他第三方应用介入跑腿而生
                </p>
              </div>

              <div class="form-group">
                <h3>功能列表</h3>
                <ul>
                  <li>
                    计价接口
                  </li>
                  <li>
                    发单接口
                  </li>
                  <li>
                    订单状态变更通知
                  </li>
                  <li>
                    跑腿注册接口
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <copyrights></copyrights>
    </div>
  </div>
  <sidebar-menu></sidebar-menu>
  <div class="clearfix"></div>
</div>