<div class="footer">
  <div class="foot">
    <dl class="dl-nav">
      <dt>关于我们</dt>
      <dd>
        <a href="About.htm" title="UU跑腿介绍">UU跑腿介绍</a>
      </dd>
      <dd>
        <a href="News_list.htm" title="媒体报道">媒体报道</a>
      </dd>
      <dd>
        <a href="Contact.htm" title="联系UU跑腿">联系UU跑腿</a>
      </dd>
    </dl>
    <dl class="dl-nav">
      <dt>意见反馈</dt>
      <dd>
        <a href="Question.htm" title="常见问题">常见问题</a>
      </dd>
      <dd>
        <a href="Question.htm" title="如何下单">如何下单</a>
      </dd>
      <dd>
        <a href="Question.htm" title="如何付费">如何付费</a>
      </dd>
      <dd>
        <a href="Question.htm" title="如何开具发票">如何开具发票</a>
      </dd>
    </dl>
    <dl class="dl-nav">
      <dt>网站导航</dt>
      <!--<dd><a href="Product.htm" title="产品功能">产品功能</a></dd>-->
      <dd>
        <a href="Buy.htm" title="在线下单">在线下单</a>
      </dd>
      <dd>
        <a href="Cooperation.htm" title="招商加盟">招商加盟</a>
      </dd>
      <dd>
        <a href="Driver.htm" title="加入跑男">加入跑男</a>
      </dd>
      <dd>
        <a href="http://open.uupt.com/" target="_blank" title="开放平台">开放平台</a>
      </dd>
      <dd>
        <a href="https://wmzs.uupt.com/help/index.html" target="_blank" title="UU外卖助手">UU外卖助手</a>
      </dd>
    </dl>
    <dl class="dl-contact">
      <dt>7x24小时客服电话</dt>
      <dd class="tel">400-6997-999</dd>
      <dt>电子邮箱</dt>
      <dd class="email">uupaotui@163.com</dd>
    </dl>
    <dl class="dl-ewm">
      <dt>官方微信</dt>
      <dd>
        <img alt="同城跑腿" src="images/uuewm.jpg" />
      </dd>
      <dd class="icon-foot-weixin">
        <img class="weixin" src="images/weixin.png" alt="UU微信"> 关注微信
      </dd>
    </dl>
    <dl class="dl-ewm fr">
      <dt>官方微博</dt>
      <dd>
        <img alt="uu" src="images/ewmsina.jpg" />
      </dd>
      <dd class="icon-foot-sina">
        <img class="sina" src="images/sina.png" alt="UU微博"> 关注微博
      </dd>
    </dl>
  </div>
</div>