<div class="coop top">
  <div class="join item">
    <div class="container">
      <h2 class="title" id="jiameng">城市合伙人加盟流程</h2>
      <div class="e_title">City Partner Joining Process</div>
      <ul class="ul_1">
        <li class="ul_li no-margin-left">
          <div class="imgBox">
            <img we7-src="assets/images/ltel-1.png" data-name="hhr_icon" alt="consult">
          </div>
          <p>1.电话咨询</p>
        </li>
        <li class="ul_li  ul_s">
          <img we7-src="assets/images/intro-arrow.png" alt="arrow">
        </li>
        <li class="ul_li">
          <div class="imgBox">
            <img we7-src="assets/images/icon4-1.png" data-name="hhr_icon" alt="inspect">
          </div>
          <p>2.双方考察</p>
        </li>
        <li class="ul_li ul_s">
          <img we7-src="assets/images/intro-arrow.png" alt="arrow">
        </li>
        <li class="ul_li">
          <div class="imgBox">
            <img we7-src="assets/images/icon3-1.png" data-name="hhr_icon" alt="contract">
          </div>
          <p>3.签订合同</p>
        </li>
        <li class="ul_li ul_s">
          <img we7-src="assets/images/intro-arrow.png" alt="arrow">
        </li>
        <li class="ul_li">
          <div class="imgBox">
            <img we7-src="assets/images/icon2-1.png" data-name="hhr_icon" alt="operation">
          </div>
          <p>4.运营支撑</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="item">
    <div class="container c_2">
      <h1 class="title" id="jiameng_1">城市合伙人要求</h1>
      <div class="e_title add-cop-title">City Partner Demand</div>
    </div>
    <div class="add-cop-txt">
      <div class="container add-cop-content">
        <div class="content">
          <ul class="require">
            <li>
              <div>
                <img we7-src="assets/images/group1-1.png" alt="economic">
              </div>
              <div>
                <p class="tit">经济基础</p>
                <p class="desc">同城跑腿服务启动资金</p>
              </div>

            </li>
            <li class="left_3">
              <div>
                <img we7-src="assets/images/group2-1.png" alt="experience">
              </div>
              <div>
                <p class="tit">项目经验</p>
                <p class="desc">团队管理及市场运作经验</p>
              </div>
            </li>
            <li class="left_3">
              <div>
                <img we7-src="assets/images/group3-1.png" alt="condition">
              </div>
              <div>
                <p class="tit">优先条件</p>
                <p class="desc">具备众包类项目及同城跑腿运作经验者更佳</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="item">
    <div class="container c_2">
      <h1 class="title " id="jiameng_2">城市合伙人总部支持</h1>
      <div class="e_title">City Partner Headquarters Support</div>
    </div>
    <div class="add-cop-txt add-support">
      <div class="container">
        <div class="content">
          <ul class="ul_t">
            <li class="t_1">
              <div class="lf">
                <img we7-src="assets/images/icon-11.png" alt="accredit">
              </div>
              <div class="rt">
                <h2 class="firstP">独家授权</h2>
                <p>【小明跑腿】地级市唯一授权以及相关独家经营权</p>
              </div>
            </li>
            <li class="t_1 left_2">
              <div class="lf">
                <img we7-src="assets/images/icon-6.png" alt="publicity">
              </div>
              <div class="rt">
                <h2 class="firstP">品牌宣传</h2>
                <p>媒体曝光以及总部统一节日活动规划支持</p>
              </div>
            </li>
            <li class="t_1 left_2">
              <div class="lf">
                <img we7-src="assets/images/icon-7.png" alt="operation">
              </div>
              <div class="rt">
                <h2 class="firstP"> 运营支持</h2>
                <p>专业市场人员根据地域特性制定科学有效的运营战略计划，以及外派协助</p>
              </div>
            </li>
            <li class="t_1 add-margin-top">
              <div class="lf">
                <img we7-src="assets/images/icon-8.png" alt="product">
              </div>
              <div class="rt">
                <h2 class="firstP">产品支持</h2>
                <p>小明跑腿全方位的后台管理系统，多系统小明跑腿APP，PC端，微信公众平台</p>
              </div>
            </li>
            <li class="t_1 left_2 add-margin-top">
              <div class="lf">
                <img we7-src="assets/images/icon-9.png" alt="technology">
              </div>
              <div class="rt">
                <h2 class="firstP">技术支持</h2>
                <p>规模达百人的技术精英团队提供全程运维支持</p>
              </div>
            </li>
            <li class="t_1 left_2 add-margin-top">
              <div class="lf">
                <img we7-src="assets/images/icon-10.png" alt="convoy">
              </div>
              <div class="rt">
                <h2 class="firstP">保驾护航</h2>
                <p>资深客服，专业培训，品牌设计，数据平台全方位计划</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>