<div class="nav">
  <ul class="nav-list clearfix">
    <li>
      <a href="index.htm" title="首页">首页</a>
    </li>
    <li>
      <a href="Introduction.htm" title="服务介绍">服务介绍</a>
    </li>
    <!-- <li><a href="../Question.html" title="服务介绍">服务介绍</a></li> -->
    <li>
      <a href="http://open.uupt.com/" title="开放平台" target="_blank">开放平台</a>
    </li>
    <li class="active">
      <a href="Buy.htm" title="在线下单">在线下单</a>
    </li>
    <li>
      <a href="Cooperation.htm" title="招商加盟">招商加盟</a>
    </li>
    <li>
      <a href="Driver.htm" title="加入跑男">加入跑男</a>
    </li>
    <li>
      <a href="JoinUs.htm" title="加入我们">加入我们</a>
    </li>
    <!--<li><a href="http://jobs.zhaopin.com/281564488250426.html" title="UU校园招聘" target="_blank">UU校园招聘</a></li>-->
    <li id="aboutUU">
      <a href="javascript:void(0)" title="关于UU">关于UU
        <img id="openIcon" src="images/home-open.png" alt="arrow" />
      </a>
      <ul id="aboutMenu" class="about-menu">
        <li>
          <a href="About.htm" title="UU跑腿介绍">UU跑腿介绍</a>
        </li>
        <li>
          <a href="News_list.htm" title="媒体报道">媒体报道</a>
        </li>
        <li>
          <a href="Contact.htm" title="联系UU跑腿">联系UU跑腿</a>
        </li>
        <li>
          <a href="Question.html" title="常见问题">常见问题</a>
        </li>
        <li>
          <a href="Opinion.htm" title="意见反馈">意见反馈</a>
        </li>
      </ul>
    </li>
  </ul>
  <div style="clear:both;"></div>
</div>