<div class="panel" style="display: block;">
  <div class="item f">
    <p class="title">
      <span class="step">第一步</span>
      注册开放平台
    </p>
    <div class="content">
      <p class="tit">1.
        <a routerLink="/web/site/entry/runner_open/register">注册小明跑腿开放平台账号</a>
      </p>
    </div>
  </div>
  <div class="item f">
    <p class="title">
      <span class="step">第二步</span>
      下载DEMO，接口开发
    </p>
    <div class="content">
      <p class="tit" style="padding-bottom: 10px">1.点击
        <a routerLink="/web/site/entry/runner_open/demo" class="on">“DEMO下载”</a>，根据情况下载对应语言的DEMO参考接入案例</p>
      <p class="tit" style="padding-top: 10px;">2.获取短信验证码并绑定</p>
    </div>
    <div class="content">
      <p class="tit">2.点击
        <a routerLink="/web/site/entry/runner_open/developword" class="on">“开发文档”</a>，根据接口列表中提供的API文档进行对接开发</p>
    </div>
    <div class="content">
      <p class="tit">3.接入方式可以参考DEMO，如返回错误代码，请对照
        <a routerLink="/web/site/entry/runner_open/errorcode" class="on">“错误码说明”</a>进行修复</p>
    </div>
  </div>
  <div class="item f">
    <p class="title">
      <span class="step">第三步</span>
      联调测试并上线
    </p>
    <div class="content">
      <p class="desc">1.合作伙伴方与UU跑腿开发人员共同测试接口，可能遇到的常见问题如下：</p>
      <p class="adesc">·
        <a routerLink="/web/site/entry/runner_open/process" class="on">订单状态回调无反应</a>
      </p>
      <p class="adesc">·
        <a routerLink="/web/site/entry/runner_open/developword" class="on">帮助中心</a>
      </p>
      <p class="desc">2.完成测试后正式上线</p>
    </div>
  </div>
</div>