<div class="page-container">
  <div class="left-content">
    <div class="mother-grid-inner">
      <header-main></header-main>
      <div class="inner-block">
        <div class="main-page-myprofit">
          <div class="main-page-box">
            <div class="main-page-body">
              <my-tab></my-tab>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane in active">
                  <p class="Ktitle">Demo下载</p>
                  <download-list></download-list>

                  <div>
                    <pre>
                      // 第三方对接平台订单id
                      origin_id: [this.we7.guid()],
                      // 起始地址
                      from_address: [''],
                      // 起始地址具体门牌号
                      from_usernote: [''],
                      // 起始地坐标纬度，如果无，传0(坐标系为百度地图坐标系)
                      from_lat: [''],
                      // 起始地坐标经度，如果无，传0(坐标系为百度地图坐标系)
                      from_lng: [''],
                      // 目的地址
                      to_address: [''],
                      // 目的地址具体门牌号
                      to_usernote: [''],
                      // 目的地坐标纬度，如果无，传0(坐标系为百度地图坐标系)
                      to_lat: [''],
                      // 目的地坐标经度，如果无，传0(坐标系为百度地图坐标系)
                      to_lng: [''],
                      // 订单小类 0帮我送(默认) 1帮我买 2帮我取 3 帮派队
                      send_type: [0],
                      // 留言
                      note: [''],
                      // 收件人
                      receiver: [''],
                      // 收件人电话
                      receiver_phone: [''],
                      // 发件人电话，（如果为空则是用户注册的手机号）
                      pubusermobile: [''],
                      // 取件是否给我打电话 1需要 0不需要
                      callme_withtake: [0],
                      // 特殊处理类型，是否需要保温箱 1需要 0不需要
                      callback_url: [this.getCallbackUrl()],
                      // 类型
                      special_type: [0],
                      // 预约类型 0实时订单 1预约取件时间
                      subscribe_type: [0],
                      // 预约时间
                      subscribe_time: [0],
                      // 预约时长
                      subscribe_time_long: [0],
                      // 订单所在城市名 称(如郑州市就填”郑州市“，必须带上“市”)
                      city_name: [''],
                      // 订单所在县级地名称(如金水区就填“金水区”)
                      county_name: [''],
                      // 订单的距离
                      distance: [''],
                      // 优惠券ID(如果传入-1就不用优惠券否则系统自动匹配)
                      coupon_id: [-1],
                      // 支付方式
                      countpay: ['wechat'],
                      // 商品价格
                      goods_price: [0],
                      // 物品重量
                      goods_weight: [0],
                      // 配送工具
                      goods_tool: ['不限'],
                      // 物品保价
                      goods_insurance: [0],
                      // 报价金额
                      goods_insurance_money: [0],
                      // 用户登录标识
                      openid: [1],
                      // 开放平台id
                      appid: [1],
                      // 商品名字
                      goods_name: [''],
                      // 商品类型
                      goods_type: [''],
                      // 需要跑腿垫付
                      goods_needpay: [0],
                      // 多商品
                      goods: [''],
                      // 其他费用
                      other_fee: [0],
                      // 其他费用备注
                      other_fee_desc: [''],
                      // 时间戳
                      timestamp: [0],
                      // 字符串
                      nonce_str: [],
                      // 增加赏金
                      addfee: [0],
                      // 签名
                      sign: [''],
                      // 跑腿费
                      freight_money: [0],
                      // 需要支付金额
                      need_paymoney: [0],
                      // 总金额
                      total_money: [0],
                      // 优惠金额
                      total_priceoff: [0],
                      // 价格token
                      price_token: ['']
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <copyrights></copyrights>
    </div>
  </div>
  <sidebar-menu></sidebar-menu>
  <div class="clearfix"> </div>
</div>