<div class="panel" style="display: block;">
  <div class="module-title">
    <p class="tit">接入开放平台流程</p>
    <p class="subtit">ACCESS TO THE API PROCESS
      <a routerLink="/web/site/entry/runner_open/process">查看流程详情</a>
    </p>
  </div>
  <div class="content">
    <ul>
      <li>
        <span class="num">1</span>
        <img alt="" we7-src="assets/images/newicon/icon_p1.png" />
        <p>注册开放平台账号</p>
      </li>
      <li>
        <span class="num">2</span>
        <img alt="" we7-src="assets/images/newicon/icon_p5.png" />
        <p>下载demo接口开发</p>
      </li>
      <li>
        <span class="num">3</span>
        <img alt="" we7-src="assets/images/newicon/icon_p3.png" />
        <p>对接跑腿应用</p>
      </li>
      <li>
        <span class="num">4</span>
        <img alt="" we7-src="assets/images/newicon/icon_p6.png" />
        <p>联调测试并上架应用</p>
      </li>
    </ul>
  </div>
</div>