<table class="Ktable">
  <tbody>
    <tr>
      <th>错误码（errorCode）</th>
      <th>说明</th>
    </tr>
    <tr>
      <td>-101</td>
      <td>参数格式校验错误</td>
    </tr>
    <tr>
      <td>-102</td>
      <td>timestamp错误</td>
    </tr>
    <tr>
      <td>-103</td>
      <td>appid无效</td>
    </tr>
    <tr>
      <td>-104</td>
      <td>签名校验失败</td>
    </tr>
    <tr>
      <td>-105</td>
      <td>openid无效</td>
    </tr>
    <tr>
      <td>-199</td>
      <td>参数格式校验错误</td>
    </tr>
    <tr>
      <td>-1001</td>
      <td>无法解析起始地</td>
    </tr>
    <tr>
      <td>-1002</td>
      <td>无法解析目的地</td>
    </tr>
    <tr>
      <td>-1003</td>
      <td>无法获取订单城市相关信息</td>
    </tr>
    <tr>
      <td>-1004</td>
      <td>订单小类出现错误</td>
    </tr>
    <tr>
      <td>-1005</td>
      <td>没有用户信息</td>
    </tr>
    <tr>
      <td>-1006</td>
      <td>优惠券ID错误</td>
    </tr>
    <tr>
      <td>-2001</td>
      <td>price_token无效</td>
    </tr>
    <tr>
      <td>-2002</td>
      <td>price_token无效</td>
    </tr>
    <tr>
      <td>-2003</td>
      <td>push_type错误</td>
    </tr>
    <tr>
      <td>-2004</td>
      <td>special_type错误</td>
    </tr>
    <tr>
      <td>-2005</td>
      <td>callme_withtake错误</td>
    </tr>
    <tr>
      <td>-2006</td>
      <td>order_price错误</td>
    </tr>
    <tr>
      <td>-2007</td>
      <td>balance_paymoney错误</td>
    </tr>
    <tr>
      <td>-2008</td>
      <td>订单总金额错误</td>
    </tr>
    <tr>
      <td>-2009</td>
      <td>支付金额错误</td>
    </tr>
    <tr>
      <td>-2010</td>
      <td>用户不一致</td>
    </tr>
    <tr>
      <td>-2011</td>
      <td>手机号错误</td>
    </tr>
    <tr>
      <td>-2012</td>
      <td>不存在绑定关系</td>
    </tr>
    <tr>
      <td>-4001</td>
      <td>取消原因不能为空</td>
    </tr>
    <tr>
      <td>-4002</td>
      <td>订单编号无效</td>
    </tr>
    <tr>
      <td>-5001</td>
      <td>订单编号无效</td>
    </tr>
    <tr>
      <td>-5002</td>
      <td>订单编号无效</td>
    </tr>
    <tr>
      <td>-5003</td>
      <td>订单编号无效</td>
    </tr>
    <tr>
      <td>-10001</td>
      <td>发送频率过快，请稍候重试</td>
    </tr>
    <tr>
      <td>-11001</td>
      <td>请输入正确的验证码</td>
    </tr>
  </tbody>
</table>