<div class="order-form" [formGroup]="order.form">
  <div class="uuBusi">
    <div class="infos-box infos-box1">
      <div class="ucard" style="margin-bottom: 0;">
        <label>购买内容</label>
        <category [form]="order.form"></category>
      </div>
      <div class="ucard">
        <label>收货地址</label>
        <div class="tag">
          <input type="text" class="inp w86" autocomplete="off" #endaddress formControlName="to_address" id="endaddress" placeholder="请填写收货地址" title="收货地址"
          />
          <span class="locate">
            <i class="iconfont icon-locate"></i>定位</span>
        </div>
      </div>
      <div class="ucard">
        <label>备注地址</label>
        <div class="tag">
          <input type="text" name="endaddressdoor" autocomplete="off" formControlName="to_usernote" id="endaddressdoor" class="inp w86" placeholder="请填写具体楼号及门牌号"
            title="备注地址" />
        </div>
      </div>
      <div class="ucard" style="padding-bottom:30px;margin-bottom:0">
        <label>收货电话</label>
        <div class="tag">
          <input type="tel" maxlength="11" formControlName="receiver_phone" autocomplete="off" name="tel" id="tel" class="inp help-input" placeholder="请输入联系人手机号码">
          <span class="msg msg5">必填!</span>
          <span class="tel msg msg6">手机号码格式不正确!</span>
          <span class="msg msg7">必填!</span>
        </div>
      </div>
    </div>
    <div class="infos-box  infos-box2" style="z-index: 9;">
      <div class="ucard">
        <label>购买地址</label>
        <div class="tag">
          <input type="text" name="startaddress" autocomplete="off" #startaddress formControlName="from_address" id="startaddress" class="inp w86" placeholder="请填写购买地址"
            title="购买地址" />
          <span class="locate">
            <i class="iconfont icon-locate"></i>定位</span>
        </div>
      </div>
      <div class="ucard">
        <label>备注地址</label>
        <div class="tag">
          <input type="text" name="startaddressdoor" autocomplete="off" formControlName="from_usernote" id="startaddressdoor" class="inp w86" placeholder="请填写具体楼号及门牌号"
            title="备注地址" />
        </div>
      </div>
      <div class="ucard" style="height: 96px;">
        <label>购买要求</label>
        <div class="tag" style="position:relative;">
          <textarea autocomplete="off" class="inp w100 textarea-large required maxText" formControlName="note" name="details" id="details" placeholder="想买什么就买什么，请输入需要购买商品的名称和数量"></textarea>
          <span class="msg msg1">必填!</span>
          <span style="position:absolute;font-size:12px;color:#bbbbbb;right:15px;bottom:0px;z-index:10;">最多80字</span>
        </div>
      </div>
      <div class="ucard" style="margin-bottom: 0;">
        <div class="more-content" *ngIf="showMore" style="display: block;">
          <div class="ucard" style="padding-bottom:20px;margin-bottom:0">
            <label>商品价格</label>
            <div class="tag">
              <input type="text" autocomplete="off" name="price" id="money" formControlName="goods_price" class="inp help-input help-price" placeholder="请填写商品价格">
              <div class="tips" style="float:none;">
                <div class="warn" style="line-height: 36px; display: inline-block;">
                  <img we7-src="assets/images/help-star.png" alt="tip">
                  <span>如不填写默认不知道价格</span>
                </div>
              </div>
            </div>
          </div>
          <line-time [form]="order.form" title="购买时间" [hasLong]="false"></line-time>
          <div class="ucard">
            <label>商品重量</label>
            <div class="tag special help-input" id="goodsWeight">
              <select name="" id="goodHeavy" formControlName="goods_weight">
                <option value="-">未知重量</option>
                <option value="5">5公斤内</option>
                <option value="10">10公斤内</option>
                <option value="20">20公斤内</option>
                <option value="30">30公斤内</option>
                <option value="40">40公斤内</option>
                <option value="50">50公斤内</option>
                <option value="60">60公斤内</option>
              </select>
            </div>
          </div>
          <div class="ucard" style="margin-bottom: 0px;">
            <label>特殊要求</label>
            <div class="tag special help-input" id="specialType" class="help-specialType">
              <div>
                <input type="checkbox" formControlName="special_type" value="1" id="sTemp" class="help-chk">
                <label class="help-chk-label" for="sTemp" style="padding-right:0px;">
                  <span>保温箱</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <a href="javascript:;" (click)="switchMore()" class="more-bg">
          <i class="more-down"></i>
          <span>点击展开更多</span>
        </a>
      </div>
      <uu-pay [form]="order.form"></uu-pay>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>