<ul class="payway">
    <li id="weixin">
      <label>
        <input type="radio" autocomplete="off" formControlName="countpay" id="weixinpay" data-id="2" checked="checked">
        <span style="margin:0;" class="myicon-weixin">微信支付</span>
      </label>
    </li>
    <li id="alipay">
      <label>
        <input type="radio" autocomplete="off" formControlName="countpay" id="alipay" data-id="1">
        <span style="margin:0;" class="myicon-alipay">支付宝支付</span>
      </label>
    </li>
    <li id="balance">
      <label>
        <input type="radio" autocomplete="off" formControlName="countpay" data-id="0">
        <span style="margin:0;" class="myicon-uucount">账户余额</span>
      </label>
    </li>
    <li id="enterbalance">
      <label>
        <input type="radio" autocomplete="off" formControlName="countpay" data-id="-1">
        <span style="margin:0;" class="myicon-uucount">企业账户</span>
      </label>
    </li>
  </ul>