<div class="ucard" style="line-height:none;" [formGroup]="form" id="lineTimeType">
  <label>排队时间</label>
  <div class="tag special help-input send-input" id="sendChoice">
    <select formControlName="sendTime" class="sendTime3">
      <option value="0">立即前往(跑男接单后立即前往排队地点)</option>
      <option value="1">预约排队(预约时间为上门取货时间，支持30分钟以后7天以内)</option>
    </select>
  </div>
</div>
<time-select (change)="onTimeChange($event)" *ngIf="showYue"></time-select>
<queue-times (change)="onTimeLongChange($event)"></queue-times>
